/*====================================*/
/*BASIC SETUP*/
/*====================================*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}
/*====================================*/
/*NAVICATION*/
/*====================================*/
.container {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;
}
nav {
    background: #ebe5e5;
    overflow: hidden;
}
.images {
    width: 150px;
    height: auto;
    float: left;
    margin-left: 10px;
}
.images img {
    width: 100%;
    margin: 20px 0;
}
.row ul {
    list-style-type: none;
}
.row ul  li {
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
}
.row ul  li a {
    text-decoration: none;
    margin-bottom: 5px;
    color: rgba(12, 12, 12, 0.55);
    transition: .3s;
}
.row ul  li a:hover {
    color: rgba(0,0,0,.7);
}

/*====================================*/
/*SLIDER SECTION*/
/*====================================*/


.curssol .container .row {
    background: #ffe7e7;
    overflow: hidden;
}
.curssol-description {
    width: 58%;
    float: left;
    margin-top: 160px;
    margin-left: 20px;
}
.curssol-description h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
.curssol-description p {
    color: #564a4a;
    margin-bottom: 10px;
}
.price {
    font-size: 30px;
    color: #000;
}
.coussol-images {
    width: 38%;
    float: left;
}
.coussol-images img {
    width: 100%;
}
.btn {
    padding: 10px 20px;
    background: rgb(117, 230, 42);
    color: #000;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}

/*====================================*/
/*PRODUCT SECTION*/
/*====================================*/
.product .row {
    padding-bottom: 100px;
}
.watch, .bag, .shoe {
    width: 32%;
    float: left;
    margin-right: 24px;
    border-radius: 5px;
}
.shoe {
    margin-right: 0;
}
.watch-title {
    width: 48%;
    float: left;
} 
.watch-title h2 {
    color: #fff;
    margin-top: 65px;
    margin-left: 30PX;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
}
.watch-img img {
    width: 137px;
    height: auto;
    padding: 5px 0;
    height: auto;
}
.watch-img {
    width: 48%;
    float: left;
}
.watch-bg1 {
    background: rgb(228, 87, 52);
}
.watch-bg2 {
    background: rgb(40, 159, 133);
}
.watch-bg3 {
    background: rgb(165, 193, 40);
}
/*====================================*/
/*SHOES SECTION*/
/*====================================*/

.shoes-box {
    width: 31%;
    heigth: 300px;
    box-shadow: 1px 1px 14px -5px;
    float: left;
    margin-right: 42px;
}
.shoes-box:last-child {
    margin-right: 0;
}
.shoes-box img {
    width: 100%;
}
.shoes-box h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 10px;
}
.shoes-box p {
    color: rgb(102, 96, 96);
    margin-bottom: 15px;
    padding: 0 10px;
}
.maringTop {
    margin-top: 34px;
}
.shoes-btn {
    border-top: 1px solid rgb(185, 184, 184);
    background: #eaeaea;
}
.shoes-btn .btn {
    margin-left: 10px;
    margin-bottom: 20px;
}

.shoes-box {
    margin-bottom: 50px;
}

/*====================================*/
/*BAG SECTION*/
/*====================================*/

.bag-box {
    height: 620px;
    box-shadow: 1px 1px 14px -5px;
}
.bag-btn {
    margin-left: 10px;
}
.bag-btn-down {
    margin-top: 45px;
    margin-left: 10px;
}

/*====================================*/
/*EMAIL SECTION*/
/*====================================*/

.email-submit {
    width: 100%;
    height: 40vh;
    background:rgb(141, 137, 137);
    overflow: hidden;
    position: relative;
}
.rape {
    width: 200px;
    margin: 30px auto;
    text-align: center;
    color: #fff;
}
.rape h2 {
    font-weight: 300;
}
.rape h3 {
    font-weight: 300;
    margin-bottom: 10px;
}
input {
    padding: 5px 5px;
    border: none;
}


.footer-down {
    margin-bottom: 0;
    text-align: center;
}








